pandas
sentencepiece
langchain_google_genai
google.generativeai
langchain
langchain-community
datasets
huggingface_hub
transformers
ipywidgets
torch
torchvision
pillow
gdown
saliency
numpy
matplotlib
tensorflow
shapely
ipykernel
opencv-python
python-dotenv